<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tipo_propiedad.name %>
</p>

<%= link_to 'Edit', edit_tipo_propiedad_path(@tipo_propiedad) %> |
<%= link_to 'Back', tipo_propiedads_path %>
